:root {
    --bg-main-color: #0D0D0D;
    --font-main-color: #fff;
    --font-secondary-color: #e5b401;
    --font-sub-color: #e3dcdc;
}

header {
    height: 100px;
    background-color: var(--bg-main-color);
    color: var(--font-main-color);
    text-align: center;  
}

header h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

main {
    margin: 0 10px;
}

.express-container {
    text-align: center;
    margin-bottom: 25px;
}
.express-title {
    margin: 15px;
    letter-spacing: 1.3px;
}

.express-pay {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.express-pay button {
    cursor: pointer;
    min-width: 30%;
    padding: 8px 5px;
    border: none;
    border-radius: 8px;
}

button .bi {
    font-size: 20px;
}

.contact-container {
    height: auto;
    display: flex;
    flex-direction: column;
}

.contact-info {
    min-height: 40vh;
    margin-bottom: 20px;
}

.contact-title,
.contact-payment-title {
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 1.3px;
}

.form,
.form-payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form input,
.form-payment input {
    margin-bottom: 10px;
    padding: 15px 8px;
    border: 1px solid var(--font-sub-color);
    border-radius: 5px;
    font-size: 15px;
}

.form input:focus,
.form-payment input:focus {
    outline: none !important;
    border: 2px solid var(--bg-main-color);
}

.contact-payment {
    margin-bottom: 15px;
}

.contact-footer {
    display: flex;
    flex-direction: column;
}

.shipping {
    cursor: pointer;
    background-color: var(--font-secondary-color);
    border: none;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.return {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    background-color: var(--font-main-color);
}

.return a {
    color: var(--bg-main-color);
    font-size: 14px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.return p {
    padding-left: 5px;
}


footer {
    background-color: var(--bg-main-color);
    height: 100px;
    color: var(--font-main-color);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer span {
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
}

@media screen and (min-width: 768px){

    .express-container {
        max-width: 80%;
        margin: auto;
        margin-bottom: 25px;
    }

    .contact-container,
    .contact-footer {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1000px) {

    .express-title,
    .contact-title,
    .contact-payment-title {
        font-size: 20px;
    }

    .express-title {
        margin-top: 20px;
    }

    button .bi {
        font-size: 25px;
    }

    .contact-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .contact-info,
    .contact-payment {
        width: 45%;
    }

    .contact-footer {
        max-width: 40%;
    }

    .shipping {
        font-size: 20px;
    }

    .return a {
        font-size: 16px;
    }
}

@media screen and (min-width: 1500px) {
    .express-container {
        max-width: 60%;
        margin: auto;
        margin-bottom: 35px;
    }

    .contact-container,
    .contact-footer {
        max-width: 60%;
        margin: 0 auto;
    }

    .contact-footer {
        margin-top: 50px;
        max-width: 30%;
    }

    .return {
        margin-top: 20px;
    }
} 