:root {
    --bg-main-color: #0D0D0D;
    --font-main-color: #fff;
    --font-secondary-color: #E59A01;
    --font-sub-color: #595959;
}

.legal-policy-container {
    max-width: 90%;
    margin: 60px auto;
}

.legal-policy-container h2 {
    text-align: center;
    padding-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.legal-policy-container p {
    text-align: justify;
}

.legal-policy-container h3 {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--font-sub-color);
}

.legal-policy-container span {
    font-weight: 600;
}

@media screen and (min-width: 768px){

    .legal-policy-container {
        max-width: 60%;
        margin-bottom: 40px;
    }

    .legal-policy-container h2 {
        font-size: var(--h2);
    }

    .legal-policy-container h3 {
        font-size: var(--h3);
    }
}

@media screen and (min-width: 1200px){
    .legal-policy-container {
        max-width: 40%;
    }

    .legal-policy-container h2 {
        padding-bottom: 40px;
    }

    .legal-policy-container h3 {
        margin-top: 30px;
    }
}

@media screen and (min-width: 1500px){

    .legal-policy-container {
        max-width: 35%;
        margin-bottom: 40px;
    }
}