:root {
    --bg-main-color: #0D0D0D;
    --font-main-color: #fff;
    --font-secondary-color: #E59A01;
    --font-sub-color: #595959;

    --h1: 40px;
    --h2: 32px;
    --h3: 28px;
    --h4: 24px;
    --h5: 20px;
    --h6: 16px;

    --main-font-family: 'Roboto Condensed', sans-serif;
    --second-font-family: 'Roboto', sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    font-family: var(--main-font-family);
}

header {
    height: 100px;
    background-color: var(--bg-main-color);
}

.header-container {
    height: 100px;
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--font-main-color);
}

.header-container h1 a{
    text-transform: uppercase;
    cursor: pointer;
    color: var(--font-main-color);
    text-decoration: none;
}

.header-container #icon-list {
    font-size: 30px;
    cursor: pointer;
}

.header-container #icon-cart {
    font-size: 18px;
    cursor: pointer;
}

/**
* ! NAAV BAR SECTION 
*/

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.nav-bar {
    background-color: var(--bg-main-color);
    left: 0;
    right: 0;
    height: 0;
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s;
    overflow: hidden;
}

.nav-bar.active {
    height: 90vh;
}

.list-menu {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    margin: 40px;
}

.nav-bar.active .list-menu{
    opacity: 1;
}

.list-menu li {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.list-menu li a{
    text-decoration: none;
    color: var(--font-main-color);
    font-size: 18px;
    
}

.list-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
    margin: 40px;
}

.nav-bar.active .list-socials{
    opacity: 1;
}

.list-socials li .bi {
    color: var(--font-main-color);
    font-size: 18px;
    cursor: pointer;
}

/**
* ! CART SECTION 
*/

.cart-container {
    background-color: var(--font-main-color);
    height: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    overflow: hidden;
    padding: 0;
}

.cart-container.active {
    padding: 20px 20px;
    height: 90vh;
}

.cart-header-info {
    width: 100%;
    opacity: 0;
}

.cart-container.active .cart-header-info {
    opacity: 1;
}

.cart-header-info h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cart-products-container {
    min-height: 70vh;
    opacity: 0;
}

.cart-container.active .cart-products-container {
    opacity: 1;
}

.cart-product {
    display: flex;
    justify-content: flex-start;
    max-height: 120px;
    margin-top: 15px;
}

.product-info-container {
    width: 100%;
    padding-left: 20px;
}

.product-cross {
    text-align: end;
    height: 20%;
}

.product-info {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info-number span {
    margin-left: 10px;
    margin-right: 10px;
}

.cart-footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
}

.cart-container.active .cart-footer-info {
    opacity: 1;
}

.total-price-container {
    display: flex;
    justify-content: space-between;
}

.total-price-container h5 {
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.checkout-btn {
    background-color: var(--bg-main-color);
    border: none;
    color: var(--font-main-color);
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

/**
* ! FOOTER SECTION 
*/

footer {
    background-color: var(--bg-main-color);
    height: 200px;
}

.footer-container {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 30px;  
}

.first-row-info {
    color: var(--font-secondary-color);
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.first-row-info h6 {
    padding: 5px;
}

.second-row-info {
    width: 90%;
    height: 50px;
    display:  flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--bg-main-color);
    justify-content: space-between;
}

.second-row-info .bi {
    font-size: 20px;
    background-color: var(--font-main-color);
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
}
