:root {
    --bg-main-color: #0D0D0D;
    --font-main-color: #fff;
    --font-secondary-color: #E59A01;
    --font-sub-color: #595959;

    --h1: 40px;
    --h2: 32px;
    --h3: 28px;
    --h4: 24px;
    --h5: 20px;
    --h6: 16px;

    --main-font-family: 'Roboto Condensed', sans-serif;
    --second-font-family: 'Roboto', sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    font-family: var(--main-font-family);
    text-decoration: none;
}

header {
    height: 100px;
    background-color: var(--bg-main-color);
}

.header-container {
    height: 100px;
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--font-main-color);
}

.header-container h1 a{
    text-transform: uppercase;
    cursor: pointer;
    color: var(--font-main-color);
    text-decoration: none;
}

.header-container #icon-list {
    font-size: 30px;
    cursor: pointer;
}

.cart-icon a {
    font-size: 18px;
    cursor: pointer;
    color: var(--font-main-color);
}

/**
* ! NAAV BAR SECTION 
*/

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.nav-bar {
    background-color: var(--bg-main-color);
    left: 0;
    right: 0;
    height: 0;
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s;
    overflow: hidden;
    
}

.nav-bar.active {
    height: 90vh;
    background-color: var(--bg-main-color);
}

.list-menu {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    margin: 40px;
}

.nav-bar.active .list-menu{
    opacity: 1;
}

.list-menu li {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.list-menu li a{
    text-decoration: none;
    color: var(--font-main-color);
    font-size: 18px;  
}

.list-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
    margin: 40px;
}

.nav-bar.active .list-socials{
    opacity: 1;
}

.list-socials li .bi {
    color: var(--font-main-color);
    font-size: 18px;
    cursor: pointer;
}

/**
* ! FOOTER SECTION 
*/

footer {
    background-color: var(--bg-main-color);
    height: 200px;
}

.footer-container {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 30px;  
}

.first-row-info {
    color: var(--font-secondary-color);
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.first-row-info h6 {
    padding: 5px;
}

.second-row-info {
    width: 90%;
    height: 50px;
    display:  flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--bg-main-color);
    justify-content: space-between;
}

.second-row-info .bi {
    font-size: 20px;
    background-color: var(--font-main-color);
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (min-width: 768px){

    .header-container #icon-cart {
        font-size: 23px;
        
    }

    .list-socials {
        justify-content: center;
    }

    .list-socials li .bi {
        font-size: 30px;   
        margin-left: 10px;
        margin-right: 10px;
    }

    .cart-container.active {
        padding: 30px 50px;
    }

    .product-cross {
        font-size: 23px;
    }

    .total-price-container h5 {
        font-size: 23px;
    }

    .total-price {
        font-size: 23px;
    }

    .checkout-btn {
        font-size: 16px;
    }

    .footer-container {
        flex-direction: row;
    }

    .first-row-info {
        font-size: 20px;
    }

    .second-row-info {
        width: 30%;
        flex-wrap: wrap;
    }

    
}

@media screen and (min-width: 1200px){

    .header-container #icon-list {
        font-size: 35px;
    }
    
    .header-container #icon-cart {
        font-size: 25px;
    }

    .list-menu li {
        padding-top: 20px;
    }

    .list-menu li a{
        font-size: var(--h4);
    }
}
